In [10]:
print('we comment in python by the help of various keys in the keybord this can be # By using these functions we can comment in python')
'''this is also a way to write comment in python. this line is itself an example the way in which i have written'''
#i will play

we comment in python by the help of various keys in the keybord this can be # By using these functions we can comment in python

'this is also a way to write comment in python. this line is itself an example the way in which i have written'

In [7]:
'''There are various types of variables which we use in python. Following are the example given below'''
a = 2.5
b = 75
c = "Sachin Rao"
d = {1,2,3}
e = {'apple':'brand'}
f = (1,2,3,"Sachin")
g = [1,2,3,4,"Takshu"]

In [8]:
type(a)

float

In [9]:
type(b)

int

In [10]:
type(c)

str

In [11]:
type(d)

set

In [12]:
type(e)

dict

In [13]:
type(f)

tuple

In [14]:
type(g)

list

In [15]:
#we convert one data type in python to another by using different functions like int , str , float and using different names in the front of words for example are given below

In [16]:
b = 8

In [17]:
type(b)

int

In [18]:
b = '8' # by using '' it has been coverted into string from int to str.

In [19]:
type(b)

str

In [20]:
input()

 5

'5'

In [21]:
type(input())

 5

str

In [23]:
type(int(input())) # by using int in the starting now we can see that the string has been converted into the integer.

 5

int

In [3]:
my_list = [1,2,3,4,5]

In [4]:
my_list

[1, 2, 3, 4, 5]

In [5]:
my_list.remove(1)

In [7]:
my_list
my_list[:2:]

[2, 3]

In [3]:
print('a complex number in mathematics is a number containing imaginary and real both parts in mathematics imaginary is represented by a symbol i while in python it is represented by j . i is invalid in python')

a complex number in mathematics is a number containing imaginary and real both parts in mathematics imaginary is represented by a symbol i while in python it is represented by j . i is invalid in python

In [4]:
s = 8 + 7j

In [5]:
s

(8+7j)

In [6]:
s.real

8.0

In [7]:
s.imag

7.0

In [9]:
age = 25

In [10]:
type(age)

int

In [11]:
price = 9.99

In [12]:
type(price)

float

In [13]:
name = 'Sachin Rao'

In [14]:
type(name)

str

In [15]:
print(name)

Sachin Rao

In [28]:
string = ("Hello,World!")
substring = string[6:11:]
print(substring)

World

In [ ]:
# Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [2]:
l = "is_student"

In [3]:
l

'is_student'

In [4]:
for i in l:
    if i ==1:
        print('i m a current student')
    elif:
        print('i m not a current student')

SyntaxError: invalid syntax (1994442683.py, line 4)